body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: #fff;
    position: sticky;
    padding: 1em;
    top: 0;
    text-align: center;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
header nav ul li{
    margin-right: 20px;
    position: relative;
}
header nav a{
    text-decoration: none;
    color: #ddd;
    text-transform: uppercase;
}
header nav a:hover{
    color: red;
    font-size: 1.2em;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: #333;
    padding: 1em;
    z-index: 1;
}
.dropdown li{
    margin-bottom: 10px;
}

.dropdown li a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown li a:hover {
    color: #ccc;
  }
  
header nav ul li:hover .dropdown{
    display: block;
}
.slideshow{
    position: relative; ;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}
.slideshow img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.slideshow img.active{
    display: block;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-item{
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
.menu-item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.menu-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
}
.menu-item:hover img{
    transform: rotate(5deg);
}
.order-button{
    background-color: #333;
    color: #fff;
    border: none;
    padding:0.5em 1em;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
}
.order-button:hover{
    background-color: #555;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.cart-container{
    justify-content: center;

}
.cart{
    margin-top: 2em auto;
    margin-left: 20em;
    margin-bottom: 2em;
    background-color: #333;
    padding: 1em;
    color: #ddd;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 300px;
    text-align: center;
    
}
.cart h2{
    margin-top: 0;
}
#cart-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
#cart-list li:last-child{
    border-bottom: none;
}
#total-price{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
}
.remove-btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 1em;
  margin-top: 1.5em;
}

.remove-btn:hover {
  background-color: red;
}
#pay-button{
    background-color: #4caf50;
    color: #ddd;
    border: none;
    padding: 0.5em 1em;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1em;
    text-transform: uppercase;
}
#pay-button:hover{
    background-color: #3e8e41;
}
.contad{
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
    color: #000;
    border: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1) ;
  
}
.social-media{
    padding: 1em;
    color: #000;
    border: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1) ;
    
}
footer{
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 1em;
    text-align: center;
    clear: both;
}
.copyright{
    background: #000;
    color: #ddd;
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both;
    font-style: italic;
    text-align: center;
}



  
